footer{
  
  background: #0f2961;
  color:#fff;
  width: 100%;
  font-size: 1.5vw;
  box-sizing: border-box;
  padding: 0.5vw;
  position: absolute;
  bottom: 0;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;

}