footer{
  background-color: #4F63DB;
  color: #fff;
  width: 100%;
  font-size: 1.5vw;
  box-sizing: border-box;
  padding: 0.5vw;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
}