.cabezado{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 98%;
  margin: auto;
  border-bottom: 0.2vw solid #03045E;
}
.cabezado h1{
  color: #243E73;
  font-size: 2vw;
  margin: 0;
  padding: 1vw 0;
}
.button{
  display: flex;
  gap: 1vw;
}
button, a{
  font-size: 1.5vw;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.3vw 1vw;
  border: 0.1vw solid #03045E;
  color: #fff;
  cursor: pointer;
  background: #03045E;
}
.salir{
  background: #03045E;

  
}
.info{
  display: flex;
}