<div class="container">
  @if (isLoading) {
  <div class="loading-overlay">
    <div class="spinner"></div>
  </div>
  }
  @if (!isLoading) {
    <div class="datos-consulta">
      <h4>Total de registros = {{formatNumberToHundreds(totalRecords)}}</h4>
      <div class="pagination">
        <button *ngFor="let page of pageButtons"
                [disabled]="page === filters.page || page === -1"
                (click)="goToPage(page)"
                [ngClass]="{'active': page === activePage}">
          {{ page === -1 ? '...' : page }}
        </button>
      </div>      
    </div>
  <table class="table table-bordered">

    <thead>
      <tr class="titulares">
        <th class="michi">#</th> <!-- Nueva columna para el contador -->
        <th>DNI</th>
        <th>Apellido Paterno</th>
        <th>Apellido Materno</th>
        <th>Nombres</th>
        <th>Fecha de Nacimiento</th>
        <th>Edad</th>
        <th>Dirección</th>
        <th>Sexo</th>
        <th>Estado Civil</th>
        <th>Departamento</th>
        <th>Provincia</th>
        <th>Distrito</th>
        <th>Celulares</th>
      </tr>
    </thead>
    <tbody>
      @for (persona of personas; track $index; let i = $index) {
      <tr>
        <td class="index">{{ (filters.page - 1) * 100 + i + 1 }}</td>
        <td>{{ persona.dni }}</td>
        <td>{{ persona.apPat }}</td>
        <td>{{ persona.apMat }}</td>
        <td>{{ persona.nombres }}</td>
        <td>{{ convertirFecha(persona.fechaNac ?? '')}}</td>
        <td>{{ calcularEdad(persona.fechaNac ?? '') }}</td>
        <td>{{ persona.direccion }}</td>
        <td>{{ persona.sexo === '1' ? 'Hombre' : 'Mujer' }}</td>
        <td>{{ persona.estCivil }}</td>
        <td>{{ persona.departamento }}</td>
        <td>{{ persona.provincia }}</td>
        <td>{{ persona.distrito }}</td>
        <td>
        @for (celular of persona.celulares; track $index) {
          {{ celular }}
        }
        </td>
      </tr>
      }
    </tbody>
  </table>
  }
</div>
