.container{
    margin: 1vw;
    margin-left: 0;
    width: 72vw;
    height: calc(100vh - 14vw);
    background-color: #fff;
    overflow: auto;
}
.index{
    text-align: center;
}
table{
    border-spacing: 0;
}
.michi{
  font-weight: 900;
  font-size: 1.5vw;
}
h2{
    font-size: 2vw;
}
tr{
    width: 10vw;
}
.datos-consulta{
    display: flex;
    font-size: 1vw;
    box-sizing: border-box;
    padding: 2vw 1vw;
}
.datos-consulta h4{
    margin: 0;
}
th{
    font-size: 1.5vw;  
    border: 0.1vw solid #fff;
    color: #fff;
    cursor: pointer;
    background: #243E73
}
th, td{
    padding: 0.5vw;
    font-size: 1.0vw;
}

td{
    border: 0.1vw solid #fff;
}



.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    color: white;
    font-size: 1.2rem;
  }
  
  /* Estilos del spinner */
  .spinner {
    border: 8px solid #f3f3f3; /* Color de fondo del aro */
    border-top: 8px solid #243E73; /* Color del aro que gira */
    border-radius: 50%;
    width: 50px; /* Tamaño del aro */
    height: 50px; /* Tamaño del aro */
    animation: spin 2s linear infinite; /* Animación de giro */
  }

  .pagination{
    display: flex;
    position: fixed;
    margin-left: 43vw;
    background-color: #3064d4;
  }
 /* Clase para los botones */
.pagination button {
    padding: 1vw;
    margin: 1vw;
    border: 1px solid #fff;
    cursor: pointer;
  }

  .pagination button:disabled {
      opacity: 1 !important;
      pointer-events: auto !important;
      background-color: inherit;
  }
  
  /* Clase para el botón activo */
  .pagination button.active {
    background-color: #243E73;
    color: #fff;
  }
  
  /* Clase para los botones deshabilitados */
  .pagination button:disabled {
    cursor: not-allowed;
  }
  
  /* Animación del spinner */
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  .datos-consulta{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .datos-consulta .click{
    display: flex;
    align-items: center;
  }