.container{
    margin: 1vw;
    margin-left: 0;
    width: 72vw;
    height: calc(100vh - 14vw);
    background-color: #DDDDFF;
    overflow: auto;
}
.index{
    text-align: center;
}
table{
    border-spacing: 0;
}
h2{
    font-size: 2vw;
}
tr{
    width: 10vw;
}
.datos-consulta{
    display: flex;
    font-size: 1vw;
    box-sizing: border-box;
    padding: 2vw 1vw;
}
.datos-consulta h4{
    margin: 0;
}
th{
    font-size: 1.5vw;  
    border: 0.1vw solid gray;
    color: #2E4D69;
    cursor: pointer;
    background: linear-gradient(180deg, rgba(255,255,255,1) 1%, rgba(203,224,249,1) 30%, rgba(194,219,248,1) 50%, rgba(204,225,249,1) 70%, rgba(255,255,255,1) 100%);
}
th, td{
    padding: 0.5vw;
    font-size: 1.0vw;
}

td{
    border: 0.1vw solid #fff;
}



.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    color: white;
    font-size: 1.2rem;
  }
  
  /* Estilos del spinner */
  .spinner {
    border: 8px solid #f3f3f3; /* Color de fondo del aro */
    border-top: 8px solid #3498db; /* Color del aro que gira */
    border-radius: 50%;
    width: 50px; /* Tamaño del aro */
    height: 50px; /* Tamaño del aro */
    animation: spin 2s linear infinite; /* Animación de giro */
  }

  .pagination{
    display: flex;
    position: fixed;
    margin-left: 43vw;
    background-color: #DDDDFF;
  }
 /* Clase para los botones */
.pagination button {
    padding: 1vw;
    margin: 1vw;
    border: 1px solid #fff;
    cursor: pointer;
  }
  
  /* Clase para el botón activo */
  .pagination button.active {
    background-color: #007bff;
    color: #fff;
  }
  
  /* Clase para los botones deshabilitados */
  .pagination button:disabled {
    cursor: not-allowed;
  }
  
  /* Animación del spinner */
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  .datos-consulta{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .datos-consulta .click{
    display: flex;
    align-items: center;
  }